@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}





@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
h1 { font-family:Raleway; }
.font_title { font-family:Raleway ; }
body { font-family:Raleway; }
#page_6a25af0fbf2e0 { padding:0; }
.menu { id-filho:7447706;id-pai:7447705;background-image : linear-gradient(rgba(115, 154, 60, 1),rgba(115, 154, 60, 1)); }
.menu_item:hover{ id-filho:7447707;id-pai:7447705;color:rgba(241, 241, 241, 1)!important; }
.menu_item.focus{ id-filho:7447708;id-pai:7447705;color:rgba(252, 252, 252, 1)!important; }
.menu  li + li{ id-filho:7447709;id-pai:7447705; }
.menu_item { id-filho:7447710;id-pai:7447705;color:rgba(255, 255, 255, 1)!important;font-size:16px;margin-left:5px;text-align:center;margin-right:5px; }
body { id-filho:7448823 !important;id-pai:7448822 !important;background-image:url("../images/pattern.html") !important;background-repeat:repeat !important;background-position:left top !important; }
.container_body { id-filho:7448824 !important;id-pai:7448822 !important;background-repeat:repeat-x !important;background-position:left top !important;background-image : linear-gradient(rgba(224, 252, 248, 1),rgba(224, 252, 248, 1)) !important; }
#GridPanel_6a25af105b8ab { padding:0; }
[name="Container_6a25af105bdca"] { background:RGBA(90, 14, 14, 1);border:0;border-style:solid; }
[name="Container_6a25af105bdca"] { width:100%;padding:0; }
[name="Container_6a25af105bf8f"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_6a25af105bf8f"] { padding-right:15px !important;padding-left:15px !important; }
@media screen and (min-width: 992px) { [name="Container_6a25af105bf8f"] { padding-right:15px !important;padding-left:15px !important; }
 }
[name="Container_6a25af105bf8f"] { clear:both; }
#ResponsiveImage-idx9ycud9l { border:0; }
#ResponsiveImage-idx9ycud9l { border-style:solid; }
#ResponsiveImage-idx9ycudre { border:0;margin-top:-30px; }
#ResponsiveImage-idx9ycudre { border-style:solid; }
[id="_4524549706_1700685228"] { background-color:transparent !important;background-position:center top;background-repeat:no-repeat;border:0;border-style:solid;padding-top:30px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [id="_4524549706_1700685228"] { padding-top:30px !important;padding-bottom:30px !important; }
 }
[id="_2280979102_1700685228"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_2177528072_1732908871"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycug13 { border:0; }
#ResponsiveImage-idx9ycug13 { border-style:solid; }
[id="_644005154_1700685228"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_6a25af105d5ef { border:0;border-style:solid; }
[id="_400297177_1701364510"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycuiub { border:0; }
#ResponsiveImage-idx9ycuiub { border-style:solid; }
[id="_6246614403_1701376111"] { background-color:transparent !important;background-position:center top;background-repeat:no-repeat;border:0;border-style:solid;padding-top:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_6246614403_1701376111"] { padding-top:10px !important;padding-bottom:10px !important; }
 }
[id="_8617285449_1701376111"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_2552605820_1701376111"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_6a25af105edb4 { border:0;border-style:solid; }
[id="_1044385153_1701376111"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycummm { border:0; }
#ResponsiveImage-idx9ycummm { border-style:solid; }
[name="Container_6a25af105f9d3"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid; }
[name="Container_6a25af105f9d3"] { padding-top:30px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [name="Container_6a25af105f9d3"] { padding-top:30px !important;padding-bottom:30px !important; }
 }
[name="Container_6a25af105f9d3"] { width:100%;padding:0; }
[name="Container_6a25af105fc3e"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_6a25af105fc3e"] { padding-right:15px !important;padding-left:15px !important; }
@media screen and (min-width: 992px) { [name="Container_6a25af105fc3e"] { padding-right:15px !important;padding-left:15px !important; }
 }
[name="Container_6a25af105fc3e"] { clear:both; }
[id="_5503359194_1700685238"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-right:10px !important;padding-left:10px !important; }
@media screen and (min-width: 992px) { [id="_5503359194_1700685238"] { padding-right:10px !important;padding-left:10px !important; }
 }
[id="_2676859581_1700685238"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_88362437_1700685239"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_6a25af1060677 { border:0;border-style:solid; }
[id="_1021723331_1700685238"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_6070155182_1700685239"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycuryh { border:0; }
#ResponsiveImage-idx9ycuryh { border-style:solid; }
[id="_9024461830_1700685239"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_1471515972_1700685239"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:5px !important;padding-right:5px !important;padding-left:5px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_1471515972_1700685239"] { padding-top:5px !important;padding-right:5px !important;padding-bottom:5px !important;padding-left:5px !important; }
 }
[id="_5116637907_1700685239"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-top-right-radius:5px !important;border-bottom-right-radius:5px !important;border-top-left-radius:5px !important;border-bottom-left-radius:5px !important;border-top-width:1px ;border-right-width:1px ;border-left-width:1px ;border-bottom-width:1px ;border-color:RGBA(141, 28, 28, 0.32);border-style:solid;padding-top:5px !important;padding-right:5px !important;padding-left:5px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_5116637907_1700685239"] { border-top-width:1px  !important;border-right-width:1px  !important;border-bottom-width:1px  !important;border-left-width:1px  !important;border-color:RGBA(141, 28, 28, 0.32) !important;border-style:solid !important;border-top-left-radius:5px !important;border-top-right-radius:5px !important;border-bottom-left-radius:5px !important;border-bottom-right-radius:5px !important; }
[id="_5116637907_1700685239"] { padding-top:5px !important;padding-right:5px !important;padding-bottom:5px !important;padding-left:5px !important; }
 }
[id="_27194107_1700685239"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_561605794_1700685239"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_561605794_1700685239"] { padding-top:15px !important;padding-bottom:15px !important; }
 }
#ResponsiveImage-idx9ycuur3 { border:0; }
#ResponsiveImage-idx9ycuur3 { border-style:solid; }
[id="_3732385132_1700685239"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_3732385132_1700685239"] { padding-top:15px !important;padding-bottom:10px !important; }
 }
#text_6a25af1062089 { border:0;border-style:solid; }
[id="_3189843758_1700685239"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:5px !important;padding-right:5px !important;padding-left:5px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_3189843758_1700685239"] { padding-top:5px !important;padding-right:5px !important;padding-bottom:5px !important;padding-left:5px !important; }
 }
[id="_6370515978_1700685239"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-top-right-radius:5px !important;border-bottom-right-radius:5px !important;border-top-left-radius:5px !important;border-bottom-left-radius:5px !important;border-top-width:1px ;border-right-width:1px ;border-left-width:1px ;border-bottom-width:1px ;border-color:RGBA(141, 28, 28, 0.32);border-style:solid;padding-top:5px !important;padding-right:5px !important;padding-left:5px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_6370515978_1700685239"] { border-top-width:1px  !important;border-right-width:1px  !important;border-bottom-width:1px  !important;border-left-width:1px  !important;border-color:RGBA(141, 28, 28, 0.32) !important;border-style:solid !important;border-top-left-radius:5px !important;border-top-right-radius:5px !important;border-bottom-left-radius:5px !important;border-bottom-right-radius:5px !important; }
[id="_6370515978_1700685239"] { padding-top:5px !important;padding-right:5px !important;padding-bottom:5px !important;padding-left:5px !important; }
 }
[id="_3616501459_1700685239"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_1883154835_1700685239"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_1883154835_1700685239"] { padding-top:15px !important;padding-bottom:15px !important; }
 }
#ResponsiveImage-idx9ycuxic { border:0; }
#ResponsiveImage-idx9ycuxic { border-style:solid; }
[id="_4687289567_1700685239"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_4687289567_1700685239"] { padding-top:15px !important;padding-bottom:10px !important; }
 }
#text_6a25af1062d17 { border:0;border-style:solid; }
[name="Container_6a25af1062e57"] { background:RGBA(217, 222, 116, 0.23);border:0;border-style:solid; }
[name="Container_6a25af1062e57"] { padding-top:30px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [name="Container_6a25af1062e57"] { padding-top:30px !important;padding-bottom:30px !important; }
 }
[name="Container_6a25af1062e57"] { width:100%;padding:0; }
[name="Container_6a25af106301b"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_6a25af106301b"] { padding-right:15px !important;padding-left:15px !important; }
@media screen and (min-width: 992px) { [name="Container_6a25af106301b"] { padding-right:15px !important;padding-left:15px !important; }
 }
[name="Container_6a25af106301b"] { clear:both; }
[id="_86339871_1700685244"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-right:10px !important;padding-left:10px !important; }
@media screen and (min-width: 992px) { [id="_86339871_1700685244"] { padding-right:10px !important;padding-left:10px !important; }
 }
[id="_2332288754_1700685244"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_223425051_1700685244"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_6a25af106371a { border:0;border-style:solid; }
[id="_4012172008_1700685244"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_224279222_1700685244"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycv5f5 { border:0; }
#ResponsiveImage-idx9ycv5f5 { border-style:solid; }
[name="Container_6a25af10653b7"] { background:RGBA(90, 14, 14, 1);border:0;border-style:solid; }
[name="Container_6a25af10653b7"] { width:100%;padding:0; }
[name="Container_6a25af10655b6"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_6a25af10655b6"] { padding-top:30px !important;padding-right:15px !important;padding-left:15px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [name="Container_6a25af10655b6"] { padding-top:30px !important;padding-right:15px !important;padding-bottom:30px !important;padding-left:15px !important; }
 }
[name="Container_6a25af10655b6"] { clear:both; }
[id="_4030844424_1700685249"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_657072530_1700685249"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_6a25af1065b6f { border:0;border-style:solid; }
[name="Container_6a25af1065c9b"] { background:rgba(255, 255, 255, 1);border:0;border-style:solid; }
[name="Container_6a25af1065c9b"] { padding-top:30px !important;padding-right:15px !important;padding-left:15px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [name="Container_6a25af1065c9b"] { padding-top:30px !important;padding-right:15px !important;padding-bottom:30px !important;padding-left:15px !important; }
 }
[name="Container_6a25af1065c9b"] { width:100%;padding:0; }
[name="Container_6a25af1065e4a"] { background-color:transparent !important;background-size:cover;border:0;border-style:solid; }
[name="Container_6a25af1065e4a"] { clear:both; }
[id="_1302744330_1700685249"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_2389545011_1700685249"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycv90q { border:0; }
#ResponsiveImage-idx9ycv90q { border-style:solid; }
[id="_3468886710_1700685249"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycv9pk { border:0; }
#ResponsiveImage-idx9ycv9pk { border-style:solid; }
[name="Container_6a25af1066c49"] { background:RGBA(217, 222, 116, 0.22);border:0;border-style:solid; }
[name="Container_6a25af1066c49"] { width:100%;padding:0; }
[name="Container_6a25af1066e01"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_6a25af1066e01"] { padding-top:30px !important;padding-right:15px !important;padding-left:15px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [name="Container_6a25af1066e01"] { padding-top:30px !important;padding-right:15px !important;padding-bottom:30px !important;padding-left:15px !important; }
 }
[name="Container_6a25af1066e01"] { clear:both; }
[id="_5104119933_1700685254"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_877909807_1700685254"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_2400476590_1700685254"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_6a25af10676a9 { border:0;border-style:solid; }
[id="_1736123161_1700685254"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_6a25af10679c2"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_6a25af10679c2"]:before, [name="Container_6a25af10679c2"]:after { content:initial; }
[name="Container_6a25af10679c2"] { display:flex !important;display:-moz-flex  !important;display:-ms-flexbox  !important;display:-webkit-flex  !important;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;width:100%;padding:0; }
[id="_1503629357_1700685255"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_1672935323_1700685255"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:5px !important;padding-right:5px !important;padding-left:5px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_1672935323_1700685255"] { padding-top:5px !important;padding-right:5px !important;padding-bottom:5px !important;padding-left:5px !important; }
 }
#ResponsiveImage-idx9ycvehh { border:0; }
#ResponsiveImage-idx9ycvehh { border-style:solid; }
[id="_3809477389_1701368731"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_4832456856_1701368731"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycvfgi { border:0; }
#ResponsiveImage-idx9ycvfgi { border-style:solid; }
[id="_216120846_1701368933"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_389111277_1701368933"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycvgjm { border:0; }
#ResponsiveImage-idx9ycvgjm { border-style:solid; }
[id="_4237495574_1701368933"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_18974929_1701368933"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycvhkj { border:0; }
#ResponsiveImage-idx9ycvhkj { border-style:solid; }
[id="_731189376_1701368932"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_1346214114_1701368932"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycvilj { border:0; }
#ResponsiveImage-idx9ycvilj { border-style:solid; }
[id="_8461611193_1701368931"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_7394325000_1701368931"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycvjon { border:0; }
#ResponsiveImage-idx9ycvjon { border-style:solid; }
[id="_8347714417_1701368931"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_1212824388_1701368931"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycvkqj { border:0; }
#ResponsiveImage-idx9ycvkqj { border-style:solid; }
[id="_2972864197_1701368930"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_1648861166_1701368930"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycvlt1 { border:0; }
#ResponsiveImage-idx9ycvlt1 { border-style:solid; }
[id="_253985661_1701368929"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_1455230417_1701368929"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycvmu6 { border:0; }
#ResponsiveImage-idx9ycvmu6 { border-style:solid; }
[id="_4086436074_1701368929"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_2535338667_1701368929"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycvnv3 { border:0; }
#ResponsiveImage-idx9ycvnv3 { border-style:solid; }
[id="_5136465993_1700685254"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:15px !important;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_5136465993_1700685254"] { padding-top:15px !important;padding-bottom:15px !important; }
 }
#video_6a25af106b23b { border:0 !important;border-style:solid !important; }
[name="Container_6a25af106b51f"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid; }
[name="Container_6a25af106b51f"] { padding-top:30px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [name="Container_6a25af106b51f"] { padding-top:30px !important;padding-bottom:30px !important; }
 }
[name="Container_6a25af106b51f"] { width:100%;padding:0; }
[name="Container_6a25af106b6f5"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_6a25af106b6f5"] { padding-right:15px !important;padding-left:15px !important; }
@media screen and (min-width: 992px) { [name="Container_6a25af106b6f5"] { padding-right:15px !important;padding-left:15px !important; }
 }
[name="Container_6a25af106b6f5"] { clear:both; }
[id="_920730778_1700685260"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-right:10px !important;padding-left:10px !important; }
@media screen and (min-width: 992px) { [id="_920730778_1700685260"] { padding-right:10px !important;padding-left:10px !important; }
 }
[id="_6372891405_1700685260"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_6714961182_1700685260"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_6a25af106be0f { border:0;border-style:solid; }
[id="_64302956_1700685260"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_3892519989_1700685260"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycvrty { border:0; }
#ResponsiveImage-idx9ycvrty { border-style:solid; }
[name="Container_6a25af106c47c"] { background:RGBA(90, 14, 14, 1);border:0;border-style:solid; }
[name="Container_6a25af106c47c"] { width:100%;padding:0; }
[name="Container_6a25af106c64c"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_6a25af106c64c"] { padding-top:30px !important;padding-right:15px !important;padding-left:15px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [name="Container_6a25af106c64c"] { padding-top:30px !important;padding-right:15px !important;padding-bottom:30px !important;padding-left:15px !important; }
 }
[name="Container_6a25af106c64c"] { clear:both; }
[id="_2304193431_1700685270"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_85029686_1700685270"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_6a25af106cbd7 { border:0;border-style:solid; }
[name="Container_6a25af106cd11"] { background:rgba(255, 255, 255, 1);border:0;border-style:solid; }
[name="Container_6a25af106cd11"] { padding-top:30px !important;padding-right:15px !important;padding-left:15px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [name="Container_6a25af106cd11"] { padding-top:30px !important;padding-right:15px !important;padding-bottom:30px !important;padding-left:15px !important; }
 }
[name="Container_6a25af106cd11"] { width:100%;padding:0; }
[name="Container_6a25af106cebd"] { background-color:transparent !important;background-size:cover;border:0;border-style:solid; }
[name="Container_6a25af106cebd"] { clear:both; }
[id="_2717273597_1700685270"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_1418056758_1700685270"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_1418056758_1700685270"] { padding-top:10px !important;padding-bottom:10px !important; }
 }
[id="_4404882619_1700685270"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:5px !important;padding-right:5px !important;padding-left:5px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_4404882619_1700685270"] { padding-top:5px !important;padding-right:5px !important;padding-bottom:5px !important;padding-left:5px !important; }
 }
[id="_46078807_1700685270"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_46078807_1700685270"] { padding-bottom:15px !important; }
 }
#ResponsiveImage-idx9ycvvy3 { border:0; }
#ResponsiveImage-idx9ycvvy3 { border-style:solid; }
[id="_412425604_1700685270"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_6a25af106db3f { border:0;border-style:solid; }
[id="_2206192288_1700685270"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_2206192288_1700685270"] { padding-top:10px !important;padding-bottom:10px !important; }
 }
[id="_740955415_1700685270"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:5px !important;padding-right:5px !important;padding-left:5px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_740955415_1700685270"] { padding-top:5px !important;padding-right:5px !important;padding-bottom:5px !important;padding-left:5px !important; }
 }
[id="_2428954999_1700685271"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_2428954999_1700685271"] { padding-bottom:15px !important; }
 }
#ResponsiveImage-idx9ycvxyx { border:0; }
#ResponsiveImage-idx9ycvxyx { border-style:solid; }
[id="_4527566869_1700685271"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_6a25af106e5b0 { border:0;border-style:solid; }
[name="Container_6a25af106e6ec"] { background:RGBA(90, 14, 14, 1);border:0;border-style:solid; }
[name="Container_6a25af106e6ec"] { padding-top:30px !important;padding-bottom:30px !important; }
@media screen and (min-width: 992px) { [name="Container_6a25af106e6ec"] { padding-top:30px !important;padding-bottom:30px !important; }
 }
[name="Container_6a25af106e6ec"] { width:100%;padding:0; }
[name="Container_6a25af106ea07"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_6a25af106ea07"] { padding-right:15px !important;padding-left:15px !important; }
@media screen and (min-width: 992px) { [name="Container_6a25af106ea07"] { padding-right:15px !important;padding-left:15px !important; }
 }
[name="Container_6a25af106ea07"] { clear:both; }
[id="_4276654697_1700685276"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-right:10px !important;padding-left:10px !important; }
@media screen and (min-width: 992px) { [id="_4276654697_1700685276"] { padding-right:10px !important;padding-left:10px !important; }
 }
[id="_1457102878_1700685276"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_2788585844_1700685276"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_6a25af106f17b { border:0;border-style:solid; }
[id="_4156055311_1700685276"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:10px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [id="_4156055311_1700685276"] { padding-top:10px !important;padding-bottom:10px !important; }
 }
[id="_4242002839_1700685276"] { background:RGBA(245, 245, 245, 1);border:0;border-top-right-radius:10px !important;border-bottom-right-radius:10px !important;border-top-left-radius:10px !important;border-bottom-left-radius:10px !important;border-top-width:1px ;border-right-width:1px ;border-left-width:1px ;border-bottom-width:1px ;border-color:rgba(217, 217, 217, 1);border-style:solid;padding-top:15px !important;padding-right:5px !important;padding-left:5px !important;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_4242002839_1700685276"] { border-top-width:1px  !important;border-right-width:1px  !important;border-bottom-width:1px  !important;border-left-width:1px  !important;border-color:rgba(217, 217, 217, 1) !important;border-style:solid !important;border-top-left-radius:10px !important;border-top-right-radius:10px !important;border-bottom-left-radius:10px !important;border-bottom-right-radius:10px !important; }
[id="_4242002839_1700685276"] { padding-top:15px !important;padding-right:5px !important;padding-bottom:15px !important;padding-left:5px !important; }
 }
[id="_2090799343_1732913276"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycw2c3 { border:0; }
#ResponsiveImage-idx9ycw2c3 { border-style:solid; }
[id="_2594560004_1701375620"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycw30v { border:0; }
#ResponsiveImage-idx9ycw30v { border-style:solid; }
[id="_6384507714_1700685276"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycw3pl { border:0; }
#ResponsiveImage-idx9ycw3pl { border-style:solid; }
#ResponsiveImage-idx9ycw420 { border:0;margin-top:-30px; }
#ResponsiveImage-idx9ycw420 { border-style:solid; }
[id="_503844236_1700685276"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_273835419_1732907303"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_6a25af1070b19 { border:0;border-style:solid; }
#text_6a25af1070c97 { border:0;margin-top:-20px;border-style:solid; }
#text_6a25af1070e26 { border:0;margin-top:-20px;border-style:solid; }
#text_6a25af1070fbf { border:0;margin-top:-20px;border-style:solid; }
[id="_525257142_1700685276"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_814757043_1700685276"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycw802 { border:0;margin-top:-15px; }
#ResponsiveImage-idx9ycw802 > img { border-style:solid; }
#ResponsiveImage-idx9ycw802  img{ padding:0; }
#text_6a25af10716af { border:0;margin-top:-20px;border-style:solid; }
[name="Container_6a25af10728fd"] { background:RGBA(67, 49, 73, 1);border:0;border-style:solid; }
[name="Container_6a25af10728fd"] { width:100%;padding:0; }
[name="Container_6a25af1072aaf"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_6a25af1072aaf"] { clear:both; }
[id="_2843231219_1727280057"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:20px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_2843231219_1727280057"] { padding-top:20px !important;padding-right:10px !important;padding-bottom:20px !important;padding-left:10px !important; }
 }
[id="_57249838_1727280057"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_1314878335_1727280057"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_3537902517_1727280057"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9ycwe4a { border:0; }
#ResponsiveImage-idx9ycwe4a { border-style:solid; }
[id="_103026442_1727280057"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_6a25af1073dc2 { border:0;border-style:solid; }
[id="_363852476_1727280057"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_6a25af10740f6 { border:0;border-style:solid; }

 .center { float:none;margin-left:auto;margin-right:auto; }