@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}





@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
h1 { font-family:Raleway; }
.font_title { font-family:Raleway ; }
body { font-family:Raleway; }
#page_6a25af6e9b51e { padding:0; }
#Header-idx9zzutol { border:0;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[name="Container_6a25af6ee8591"] { background:rgba(255, 255, 255, 1);border:0;border-style:solid; }
[name="Container_6a25af6ee8591"] { padding-top:15px !important;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [name="Container_6a25af6ee8591"] { padding-top:15px !important;padding-bottom:15px !important; }
 }
[name="Container_6a25af6ee8591"]:before, [name="Container_6a25af6ee8591"]:after { content:initial; }
[name="Container_6a25af6ee8591"] { display:flex !important;display:-moz-flex  !important;display:-ms-flexbox  !important;display:-webkit-flex  !important;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;width:100%;padding:0; }
#ResponsiveImage-idx9zzvaur { border:0; }
#ResponsiveImage-idx9zzvaur { border-style:solid; }
[name="Container_6a25af6ee89b0"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_6a25af6ee89b0"] { padding-top:5px !important; }
@media screen and (min-width: 992px) { [name="Container_6a25af6ee89b0"] { padding-top:5px !important; }
 }
[name="Container_6a25af6ee89b0"] { width:100%;padding:0; }
[name="Container_6a25af6ee8bbf"] { background-color:transparent !important;background-size:cover;border:0;border-style:solid; }
[name="Container_6a25af6ee8bbf"] { clear:both; }
[id="_1521269354_1725986231"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:5px !important; }
@media screen and (min-width: 992px) { [id="_1521269354_1725986231"] { padding-top:5px !important; }
 }
#_66e075f12a623_1725986289 { border-top-width:1px ;border-right-width:1px ;border-left-width:1px ;border-bottom-width:1px ;border-style:solid;padding-top:6px !important;padding-right:12px !important;padding-left:12px !important;padding-bottom:6px !important;margin-bottom:0px;border-color:#E97517;border-top-right-radius:20px !important;border-bottom-right-radius:20px !important;border-top-left-radius:20px !important;border-bottom-left-radius:20px !important;color:rgba(51, 51, 51, 1)!important;background-color:rgba(255, 255, 255, 1);font-size:16px;white-space:pre-wrap;height:auto; }
[name="Container_6a25af6ee918f"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_6a25af6ee918f"] { padding-top:5px !important; }
@media screen and (min-width: 992px) { [name="Container_6a25af6ee918f"] { padding-top:5px !important; }
 }
[name="Container_6a25af6ee918f"] { width:100%;padding:0; }
[id="_615531617_1725986889"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:5px !important; }
@media screen and (min-width: 992px) { [id="_615531617_1725986889"] { padding-top:5px !important; }
 }
@media screen  and (min-width: 768px){ #menu-_66e0786540dca_1725986917  ul.navbar-nav{ width:100%;text-align:center; }
#menu-_66e0786540dca_1725986917  ul.navbar-nav > *{ float:none;display:inline-block;vertical-align:middle; }
 }
#menu-_66e0786540dca_1725986917  ul.navbar-nav > *{ vertical-align:middle; }
@media  screen and (max-width: 767px){ [id="_66e0786540dca_1725986917"]  .menu_item{ width:auto; }
 }
[id="_66e0786540dca_1725986917"] { margin-bottom:0;border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:0;border-bottom-left-radius:0;border-style:solid; }
nav[id="_66e0786540dca_1725986917"] .navbar { clear:both; }
nav[id="_66e0786540dca_1725986917"].navbar  .container{ background-image:transparent !important; }
nav[id="_66e0786540dca_1725986917"] .dropdown-menu { border:none;background-color:transparent;box-shadow:none; }
nav[id="_66e0786540dca_1725986917"] .navbar-toggle .icon-bar{ border-color:#fff; }
nav[id="_66e0786540dca_1725986917"] .navbar { position:initial; }
[id="menuitem_6a25af6ee97ec"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_6a25af6ee999b"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_6a25af6ee9b92"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_6a25af6ee9d2a"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_6a25af6ee9ef9"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
.menu { id-filho:7447706;id-pai:7447705;background-image : linear-gradient(rgba(115, 154, 60, 1),rgba(115, 154, 60, 1)); }
.menu_item:hover{ id-filho:7447707;id-pai:7447705;color:rgba(241, 241, 241, 1)!important; }
.menu_item.focus{ id-filho:7447708;id-pai:7447705;color:rgba(252, 252, 252, 1)!important; }
.menu  li + li{ id-filho:7447709;id-pai:7447705; }
.menu_item { id-filho:7447710;id-pai:7447705;color:rgba(255, 255, 255, 1)!important;font-size:16px;margin-left:5px;text-align:center;margin-right:5px; }
body { id-filho:7886843 !important;id-pai:7886842 !important;background-repeat:repeat !important;background-position:left top !important; }
.container_body { id-filho:7886844 !important;id-pai:7886842 !important;background-repeat:no-repeat !important;background-position:center center !important; }
#GridPanel_6a25af6eeb55a { padding:0; }
[name="Container_6a25af6eec287"] { background:rgba(242, 242, 242, 0.31);border:0;border-style:solid; }
[name="Container_6a25af6eec287"] { padding-top:20px !important;padding-bottom:50px !important; }
@media screen and (max-width: 767px) { [name="Container_6a25af6eec287"] { padding-top:10px !important; }
 }
@media screen and (min-width: 992px) { [name="Container_6a25af6eec287"] { padding-top:20px !important;padding-bottom:50px !important; }
 }
[name="Container_6a25af6eec287"] { width:100%;padding:0; }
[name="Container_6a25af6eec517"] { background-color:transparent !important;background-size:cover;border:0;border-style:solid; }
[name="Container_6a25af6eec517"] { clear:both; }
[id="_696167707_1726266212"] { background:rgba(255, 255, 255, 1);border:0;border-bottom-width:1px ;border-color:rgba(235, 117, 21, 0.55);border-style:solid; }
@media screen and (min-width: 992px) { [id="_696167707_1726266212"] { border-bottom-width:1px  !important;border-color:rgba(235, 117, 21, 0.55) !important;border-style:solid !important; }
 }
#text_6a25af6eecc5a { border:0;border-style:solid; }
[id="_584636041_1726266212"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_6a25af6eed48b"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_6a25af6eed48b"]:before, [name="Container_6a25af6eed48b"]:after { content:initial; }
[name="Container_6a25af6eed48b"] { display:flex !important;display:-moz-flex  !important;display:-ms-flexbox  !important;display:-webkit-flex  !important;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;width:100%;padding:0; }
[id="_2827358148_1726266212"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:5px !important;padding-right:5px !important;padding-left:5px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_2827358148_1726266212"] { padding-top:5px !important;padding-right:5px !important;padding-bottom:5px !important;padding-left:5px !important; }
 }
[id="_2558722679_1726266213"] { background:rgba(255, 255, 255, 1);border:0;border-top-width:1px ;border-right-width:1px ;border-left-width:1px ;border-bottom-width:1px ;border-color:rgba(240, 240, 240, 0.59);border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important;height:100%; }
@media screen and (min-width: 992px) { [id="_2558722679_1726266213"] { border-top-width:1px  !important;border-right-width:1px  !important;border-bottom-width:1px  !important;border-left-width:1px  !important;border-color:rgba(240, 240, 240, 0.59) !important;border-style:solid !important; }
[id="_2558722679_1726266213"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#ResponsiveImage-idx9zzvrhf { border:0; }
#ResponsiveImage-idx9zzvrhf > img { border-top-right-radius:20px !important;border-top-left-radius:20px !important;border-style:solid; }
#ResponsiveImage-idx9zzvrhf  img{ padding:0; }
#text_6a25af6eedec3 { border:0;border-style:solid;padding-right:10px !important;padding-left:10px !important; }
#_5363299126_1726266213 { padding-top:10px !important;padding-right:12px !important;padding-left:12px !important;padding-bottom:10px !important;margin-top:10px;margin-bottom:10px;border-top-right-radius:8px !important;border-bottom-right-radius:8px !important;border-top-left-radius:8px !important;border-bottom-left-radius:8px !important;color:rgba(255, 255, 255, 1)!important;background-color:RGBA(115, 154, 60, 1);font-size:16px;white-space:pre-wrap;height:auto; }
[id="_5111708180_1726266213"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:5px !important;padding-right:5px !important;padding-left:5px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_5111708180_1726266213"] { padding-top:5px !important;padding-right:5px !important;padding-bottom:5px !important;padding-left:5px !important; }
 }
[id="_3303139070_1726266213"] { background:rgba(255, 255, 255, 1);border:0;border-top-width:1px ;border-right-width:1px ;border-left-width:1px ;border-bottom-width:1px ;border-color:rgba(240, 240, 240, 0.59);border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important;height:100%; }
@media screen and (min-width: 992px) { [id="_3303139070_1726266213"] { border-top-width:1px  !important;border-right-width:1px  !important;border-bottom-width:1px  !important;border-left-width:1px  !important;border-color:rgba(240, 240, 240, 0.59) !important;border-style:solid !important; }
[id="_3303139070_1726266213"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#ResponsiveImage-idx9zzvtv8 { border:0; }
#ResponsiveImage-idx9zzvtv8 { border-top-right-radius:20px !important;border-top-left-radius:20px !important;border-style:solid; }
#text_6a25af6eeeb33 { border:0;border-style:solid;padding-right:10px !important;padding-left:10px !important; }
#_3486621408_1726266213 { padding-top:10px !important;padding-right:12px !important;padding-left:12px !important;padding-bottom:10px !important;margin-top:10px;margin-bottom:10px;border-top-right-radius:8px !important;border-bottom-right-radius:8px !important;border-top-left-radius:8px !important;border-bottom-left-radius:8px !important;color:rgba(255, 255, 255, 1)!important;background-color:rgba(115, 154, 60, 1);font-size:16px;white-space:pre-wrap;height:auto; }
[id="_3047379037_1726266212"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:5px !important;padding-right:5px !important;padding-left:5px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_3047379037_1726266212"] { padding-top:5px !important;padding-right:5px !important;padding-bottom:5px !important;padding-left:5px !important; }
 }
[id="_6180889884_1726266213"] { background:rgba(255, 255, 255, 1);border:0;border-top-width:1px ;border-right-width:1px ;border-left-width:1px ;border-bottom-width:1px ;border-color:rgba(240, 240, 240, 0.59);border-style:solid;padding-top:10px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:10px !important;height:100%; }
@media screen and (min-width: 992px) { [id="_6180889884_1726266213"] { border-top-width:1px  !important;border-right-width:1px  !important;border-bottom-width:1px  !important;border-left-width:1px  !important;border-color:rgba(240, 240, 240, 0.59) !important;border-style:solid !important; }
[id="_6180889884_1726266213"] { padding-top:10px !important;padding-right:10px !important;padding-bottom:10px !important;padding-left:10px !important; }
 }
#ResponsiveImage-idx9zzvwf9 { border:0; }
#ResponsiveImage-idx9zzvwf9 { border-top-right-radius:20px !important;border-top-left-radius:20px !important;border-style:solid; }
#text_6a25af6eef7e9 { border:0;border-style:solid;padding-right:10px !important;padding-left:10px !important; }
#_449211741_1726266213 { padding-top:10px !important;padding-right:12px !important;padding-left:12px !important;padding-bottom:10px !important;margin-top:10px;margin-bottom:10px;border-top-right-radius:8px !important;border-bottom-right-radius:8px !important;border-top-left-radius:8px !important;border-bottom-left-radius:8px !important;color:rgba(255, 255, 255, 1)!important;background-color:RGBA(115, 154, 60, 1);font-size:16px;white-space:pre-wrap;height:auto; }
[name="Container_6a25af6eefbee"] { background:RGBA(255, 255, 255, 1);border:0;border-style:solid; }
[name="Container_6a25af6eefbee"] { padding-top:30px !important;padding-bottom:30px !important; }
@media screen and (max-width: 767px) { [name="Container_6a25af6eefbee"] { padding-top:10px !important;padding-bottom:10px !important; }
 }
@media screen and (min-width: 992px) { [name="Container_6a25af6eefbee"] { padding-top:30px !important;padding-bottom:30px !important; }
 }
[name="Container_6a25af6eefbee"]:before, [name="Container_6a25af6eefbee"]:after { content:initial; }
[name="Container_6a25af6eefbee"] { display:flex !important;display:-moz-flex  !important;display:-ms-flexbox  !important;display:-webkit-flex  !important;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;width:100%;padding:0; }
[name="Container_6a25af6eeffd4"] { background-color:transparent !important;background-size:cover;border:0;border-style:solid; }
[name="Container_6a25af6eeffd4"] { clear:both; }
[id="_66eb2f4413f9e_1726689092"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-right:10px !important;padding-left:10px !important; }
@media screen and (min-width: 992px) { [id="_66eb2f4413f9e_1726689092"] { padding-right:10px !important;padding-left:10px !important; }
 }
[id="_3109981223_1726689128"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[id="_66eb2fa29117c_1726689186"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:5px !important;padding-right:5px !important;padding-left:5px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_66eb2fa29117c_1726689186"] { padding-top:5px !important;padding-right:5px !important;padding-bottom:5px !important;padding-left:5px !important; }
 }
#ResponsiveImage-idx9zzw0du { border:0; }
#ResponsiveImage-idx9zzw0du { border-style:solid; }
[id="_1127725545_1726689212"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:5px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:5px !important; }
@media screen and (min-width: 992px) { [id="_1127725545_1726689212"] { padding-top:5px !important;padding-right:10px !important;padding-bottom:5px !important;padding-left:10px !important; }
 }
[id="_66eb2f57aa893_1726689111"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#text_6a25af6ef110a { border:0;border-style:solid; }
#text_6a25af6ef12f3 { border:0;border-style:solid; }
#_66eb309e5e4f2_1726689438 { border-top-width:1px ;border-right-width:1px ;border-left-width:1px ;border-bottom-width:1px ;border-style:solid;padding-top:6px !important;padding-right:12px !important;padding-left:12px !important;padding-bottom:6px !important;margin-top:10px;margin-bottom:0px;border-top-right-radius:4px !important;border-bottom-right-radius:4px !important;border-top-left-radius:4px !important;border-bottom-left-radius:4px !important;color:rgba(255, 255, 255, 1)!important;background-color:RGBA(233, 117, 23, 1);font-size:18px;white-space:pre-wrap;height:auto; }
#footer_6a25af6ef16fe { border:0;color:rgba(255, 255, 255, 1)!important;border-style:solid;background-image : linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1)); }
[name="Container_6a25af6ef3725"] { background:RGBA(40, 40, 40, 1);border:0;border-style:solid; }
[name="Container_6a25af6ef3725"] { padding-top:25px !important;padding-bottom:10px !important; }
@media screen and (min-width: 992px) { [name="Container_6a25af6ef3725"] { padding-top:25px !important;padding-bottom:10px !important; }
 }
[name="Container_6a25af6ef3725"] { width:100%;padding:0; }
[name="Container_6a25af6ef3916"] { background-color:transparent !important;background-size:cover;border:0;border-style:solid; }
[name="Container_6a25af6ef3916"] { clear:both; }
[id="_5222967192_1725994879"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-right:15px !important;padding-left:15px !important; }
@media screen and (min-width: 992px) { [id="_5222967192_1725994879"] { padding-right:15px !important;padding-left:15px !important; }
 }
#text_6a25af6ef3d9c { border:0;border-style:solid; }
[id="_1359137016_1725994872"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-right:15px !important;padding-left:15px !important;padding-bottom:15px !important; }
@media screen and (min-width: 992px) { [id="_1359137016_1725994872"] { padding-right:15px !important;padding-bottom:15px !important;padding-left:15px !important; }
 }
#text_6a25af6ef4142 { border:0;border-style:solid; }
[id="_66e1eed5bee7f_1726082773"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-top:-10px;border-style:solid; }
@media screen and (min-width: 992px) { [id="_66e1eed5bee7f_1726082773"] { margin-top:-10px !important; }
 }
#ResponsiveImage-idx9zzxdnt { border:0; }
#ResponsiveImage-idx9zzxdnt > img { border-style:solid; }
#ResponsiveImage-idx9zzxdnt { padding-top:2px !important;padding-right:2px !important;padding-left:2px !important;padding-bottom:2px !important; }
#ResponsiveImage-idx9zzxdnt  img{ padding:0; }
#ResponsiveImage-idx9zzxe1x { border:0; }
#ResponsiveImage-idx9zzxe1x > img { border-style:solid; }
#ResponsiveImage-idx9zzxe1x { padding-top:2px !important;padding-right:2px !important;padding-left:2px !important;padding-bottom:2px !important; }
#ResponsiveImage-idx9zzxe1x  img{ padding:0; }
#ResponsiveImage-idx9zzxefu { border:0; }
#ResponsiveImage-idx9zzxefu > img { border-style:solid; }
#ResponsiveImage-idx9zzxefu { padding-top:2px !important;padding-right:2px !important;padding-left:2px !important;padding-bottom:2px !important; }
#ResponsiveImage-idx9zzxefu  img{ padding:0; }
[id="_45078783_1725994866"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-top-width:1px ;border-color:ffffff;border-style:solid;padding-top:15px !important; }
@media screen and (min-width: 992px) { [id="_45078783_1725994866"] { border-top-width:1px  !important;border-color:ffffff !important;border-style:solid !important; }
[id="_45078783_1725994866"] { padding-top:15px !important; }
 }
[id="_66e0974c9d169_1725994828"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
#ResponsiveImage-idx9zzxfow { border:0; }
#ResponsiveImage-idx9zzxfow { border-style:solid; }
#text_6a25af6f00f0f { border:0;border-style:solid; }

 .center { float:none;margin-left:auto;margin-right:auto; }